.gsd-keyboard.settings-ported
Atom/
GIMP/
GeoGebra/
KDE/
Kid3/
MultiMCrc
MuseScore/
MuseScore3rc
Open Education Foundation/
Open Steno Project/
Pinta/
Qt/
QtProject.conf
Signal/
Trolltech.conf
Unknown Organization/
VirtualBox/
VirtualBoxrc
Wiresharkrc
akonadi-firstrunrc
akonadi-migrationrc
akonadi/
akonadi_akonotes_resource_0rc
akonadi_contactrc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
alda/
anytype2/
arkrc
autojack/
autostart/
baloofileinformationrc
binwalk/
blinkenrc
bluedevilglobalrc
bottom/
browsh/
cef_user_data/
chromium/
configstore/
darktable/
dconf/
discord/
discoverrc
dolphinrc
dragonplayerrc
drkonqirc
elisarc
emaildefaults
emailidentities
enchant/
eog/
evince/
evolution/
fcitx/
filelightrc
filetypesrc
font-manager/
fontforge/
gcolor3/
gedit/
ghc/
gnome-control-center/
gnome-initial-setup-done
google-chrome/
gpick/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
ibus-mozc-gnome-initial-setup-done
ibus/
inkscape/
jack/
kaccessrc
kactivitymanagerd-pluginsrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
kateschemarc
kblocksrc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kde.org/
kdeconnect.apprc
kdeconnect/
kded5rc
kded_device_automounterrc
kdedefaults/
kdeglobals
kdenliverc
kdfrc
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
kgpgrc
khangmanrc
khelpcenterrc
khotkeysrc
khtml/
kinfocenterrc
kiorc
kmail2rc
kmailsearchindexingrc
kmenueditrc
kminesrc
kmixrc
kmousetool_strokes.txt
knotesrc
kolourpaintrc
komparerc
konq_history
konquerorrc
konquestrc
konsolerc
konsolesshconfig
korgacrc
kprivacyrc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimerrc
ktimezonedrc
kwalletmanager5rc
kwalletrc
kwin_rules_dialogrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
libreoffice/
marblerc
menus/
mimeapps.list
monitors.xml
mono.addins/
mps-youtube/
muonrc
nautilus/
neofetch/
nvim/LuaSnip/
nvim/lazy-lock.json
nvim/lua/first-setup/plugin-config/markdown/
nvim/lua/first-setup/plugin-config/vimtex.lua
obs-studio/
obsrc
okularpartrc
okularrc
pavucontrol.ini
pipe-viewer/
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasmanotifyrc
plasmarc
plasmashellrc
plasmawindowed-appletsrc
plasmawindowedrc
powerdevilrc
powermanagementprofilesrc
print-manager
pulse/
qastools/
qrcp/
remmina/
rncbc.org/
scribus/
session/
specialmailcollectionsrc
spectacle.notifyrc
spectaclerc
sweeperrc
systemmonitorrc
systemsettingsrc
thefuck/
tmux/plugins/nord-tmux/
torbrowser/
totem/
touchpadxlibinputrc
transmission/
trashrc
unity3d/
update-notifier/
user-dirs.dirs
vlc/
webengineurlinterceptoradblockrc
wireshark/
xdg-desktop-portal-kderc
xsettingsd/
